{% extends "compilais/html/base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/courses.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<article class="table">
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
    <a href="" class="table-content course hidden">
        <div id="python" class="course-image"></div>
        <h1>Curso de Python</h1>
    </a>
</article>

{% endblock content %}