<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compilaí</title>
    <link rel="stylesheet" href="/compilais/templates/compilais/css/index.css">
</head>
<body>
    <header class="navbar">
        <div class="logo_navbar">
            <img src="/compilais_psd/icons/icon.png" alt="#">
            <h1>Compilaí</h1>
        </div>
        <div>
            <ul>
                <li>Cursos</li>
                <li>Planos</li>
                <li>Área do Aluno</li>
            </ul>
        </div>
    </header>
    <section>
        
    </section>
</body>
</html>