*{
    margin: 0;
    font-family: 'Lexend';
}

body{
    background-color: #1a1819;
}
section{
    height: 100vh;
    width: 100vw;
}

.navbar{
    background-color: #121011;
}

.logo_navbar{
    display: flex;
    align-items: center;
}

.logo_navbar img{
    width: 64px;
}

.logo_navbar h1{
    color: #f2f2f2;
}
